/* latin-ext */
@font-face{
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lexend Deca Regular'), local('LexendDeca-Regular'), url(https://fonts.gstatic.com/s/lexenddeca/v1/K2F1fZFYk-dHSE0UPPuwQ5qpJy_KZA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face{
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lexend Deca Regular'), local('LexendDeca-Regular'), url(https://fonts.gstatic.com/s/lexenddeca/v1/K2F1fZFYk-dHSE0UPPuwQ5qnJy8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
    background-color: #f0e9de;
    color: #022101;
    font-family: "Lexend Deca";
}

a:link{
    font-weight: bold;
    color:#00882d;
}

a:visited{
    font-weight: bold;
    color:#02a024;
}

a:hover{
    font-weight: bold;
    color:#6dda76;
}

a:active{
    font-weight: bold;
    color:#ffffff;
}

.center{
    text-align: center;
}

.miniContent{
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.mainContent{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.sameLine{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.project{
    background-color: #0e8c003a;
    color: #000000;
    width: 20%;
    min-width: 170px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 5px;
    padding: 15px;
}

a.projectLink{
    background-color: #0e8c00;
    color: #04420f;
    text-shadow: 2px 2px #109f00, -2px 2px #109f00, 2px -2px #109f00, -2px -2px #109f00,2px 0 #109f00, 0 2px #109f00, 0 -2px #109f00, -2px 0 #109f00;
    height: 80px;
    width: 25%;
    min-width: 150px;
    max-width: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 5px;
    transition: box-shadow .25s ease-in;
}

a.projectLink:hover{
    box-shadow: 10px 10px #004e0a inset,-10px -10px #004e0a inset;
}

.skillList{
    background-color: #0e8c003a;
    color: #000000;
    width: 15%;
    min-width: 100px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 5px;
    padding: 15px;
}

.experience{
    background-color: #0e8c003a;
    color: #000000;
    width: 25%;
    min-width: 150px;
    max-width: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 5px;
    padding: 15px;
}

.experienceBaja{
    background-color: #0e8c003a;
    color: #000000;
    width: 15%;
    min-width: 150px;
    max-width: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 5px;
    padding: 15px;
}

.experienceName{
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 3px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-decoration: underline;
}

.experienceTitle{
    display: block;
    margin-top: 0px;
    font-size: 1.1em;
    margin-bottom: 3px;
    margin-left: 0;
    margin-right: 0;
}

.pdf{
    background-color: #0e8c003a;
    color: #000000;
    width: 180px;
    height: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 5px;
    padding: 15px;
}

.timeStamp {
    color: #2d422d;
    font-size: smaller;
    margin-top: 0px;
    margin-bottom: 0px;
}

.education{
    background-color: #0e8c003a;
    color: #000000;
    width: 80%;
    min-width: 150px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 5px;
    padding: 15px;
}

.gpaBorder {
    border: #0e8c00;
    border-width: 4px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    width: 80px;
    height: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
}

.gpaBorder:hover span {
    display: none;
}
  
.gpaBorder:hover:before {
    content: "GPA - 3.53";
}

@media only screen and (max-width:650px) {
    .sameLine{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skillList{
        width: 70%;
    }

    .projectLink{
        width: 80%;
    }

    .project{
        width: 70%;
    }

    .experience{
        width: 70%;
    }

    .experienceBaja{
        width: 70%;
    }
}