/*   

text color - #041E42 - dallas cowboy blue
background color - #F5FEFD - snow
links - various colors
footer - 9bc2eb - edited columbie blue
button - #00CED1 - cyan

*/

/* latin-ext */
@font-face{
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lexend Deca Regular'), local('LexendDeca-Regular'), url(https://fonts.gstatic.com/s/lexenddeca/v1/K2F1fZFYk-dHSE0UPPuwQ5qpJy_KZA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face{
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lexend Deca Regular'), local('LexendDeca-Regular'), url(https://fonts.gstatic.com/s/lexenddeca/v1/K2F1fZFYk-dHSE0UPPuwQ5qnJy8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
    background-color: #F5FEFD;
    color: #041E42;
    font-family: "Lexend Deca";
}

a:link{
    font-weight: bold;
    color:#00CED1;
}

a:visited{
    font-weight: bold;
    color:#00a4af;
}

a:hover{
    font-weight: bold;
    color:#7FFFD4;
}

a:active{
    font-weight: bold;
    color:#ffffff;
}

.center{
    text-align: center;
}

footer{
    display: flex;
    flex-direction: column;
    background: #4682B4;
    border-radius: 20px/30px;
    margin: 20px 10px;
    padding:10px;
}

nav{
    background: #4682B4;
    border-radius: 20px/30px;
    margin: 20px 10px;
    padding:10px;
}

a.navButton{
    background-color: #00CED1;
    color: #041E42;
    text-shadow: 2px 2px #00CED1, -2px 2px #00CED1, 2px -2px #00CED1, -2px -2px #00CED1,2px 0 #00CED1, 0 2px #00CED1, 0 -2px #00CED1, -2px 0 #00CED1;
    height: 40px;
    width: 15%;
    min-width: 40px;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 5px;
    transition: box-shadow .3s ease-in;
}

a.navButton:hover{
    box-shadow: 10px 10px #02a8b4 inset,-10px -10px #02a8b4 inset;
}

.homeLink{
    height: 50px;
    width: 50px;
}

.sameLine{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.linktreeButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0px;
}

.copyright{
    color: #9bc2eb;
    max-width: 1200px;
    margin: auto;
}

a.self{
    border-color: #00585e;
    border-width: 5px 15px;
    border-style: solid;
    height: 30px;
    
    width: calc(15% - 30px);
    min-width: 10px;
    max-width: 370px;
}

.mainContent {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.references{
    max-width: 650px;
    word-wrap: break-word;
    text-align: justify;
}

.articleImage{
    border-radius: 12px;
    width: 100%;
}

.homepageImage{
    display: flex;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border-color: #00585e;
    border-width: 5px;
    border-style: solid;
}

.poem{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
    font-size: larger;
}

.poemLeft{
    display:flex;
    justify-content: flex-start;
    min-width: 552px;
}

.poemRight{
    display:flex;
    justify-content: flex-end;
    min-width: 476px;
}

.navPreviews{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.preview{
    aspect-ratio: 1/1;
    border-color: #00585e;
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
    margin: 0.375rem; 

    flex-grow: 1;
}

image{
    max-width: 100%;
}

audio{
    display: flex;
    margin-left:auto;
    margin-right:auto;
}

@media only screen and (max-width:550px) {
    .sameLine{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a.navButton{
        width: 80%;
        min-width: 40px;
        max-width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        text-decoration: none;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .poem{
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 30px;
        font-size: medium;
        max-width: 90%;
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }
    
    .poemLeft{
        align-items: flex-start;
        justify-content: left;
        max-width: 100%;
        min-width: 0;
        text-align: left;
    }
    
    .poemRight{
        align-items: flex-start;
        justify-content: right;
        max-width: 100%;
        min-width: 0;
        text-align: right;
    }
}

@media only screen and (max-width:800px) {
    .poem{
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 30px;
        font-size: medium;
        max-width: 90%;
        display: flex;
        flex-direction: column;
    }
    
    .poemLeft{
        align-items: flex-start;
        justify-content: left;
        max-width: 100%;
        min-width: 0;
        text-align: left;
    }
    
    .poemRight{
        align-items: flex-start;
        justify-content: right;
        max-width: 100%;
        min-width: 0;
        text-align: right;
    }
}